.pr_flash_con {
    background-color: #FF9F00;
    text-transform: uppercase;
    color: #fff;
    padding: 2px 8px;
    font-size: 13px;
    margin-left: 10px;
}
.tit_blue {
    padding: 0.25em 0.5em;
    color: #494949;
    border-left: solid 5px #001c58;
    font-size: 18px;
    font-weight: bold;
    margin-top: 60px;
    background-color: #fff;
    margin-bottom: 10px;
}
body {
    background: #ffffff none repeat scroll 0 0;
    color: #687188;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.tit_blue {
    padding: 0.25em 0.5em;
    color: #494949;
    border-left: solid 5px #001c58;
    font-size: 18px;
    font-weight: bold;
    margin-top: 60px;
    background-color: #fff;
    margin-bottom: 10px;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
